<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Educate-Bharat</title>
</head>

<body>

    {{>navbar}}

    <span class="sign"><a href="/contact">Join for free</a></span>

    <section class="section background" id="start">
        <div class="firsthalf">
            <div>
                <h2 id="h2">The Future of Education is here</h2>
                <hr>
                <p>In this world of 12 million engineers, students gain many useful skills including design, testing,
                    programming, critical thinking, analysis of information, and communication but still facing issues
                    to solve questions asked in interviews. <br><br>Join Us : We will help you to grow as a successful
                    engineer</p>
            </div>
            <hr>
            <div>
                <button class="btn2 learn">Learn More</button>
                <button class="btn2 visit">Visit Courses</button>
            </div>
        </div>
        <div class="secondhalf">
            <img src='assets/laptop.jpg' alt="reload the page" id="img">
        </div>

    </section>

    <section class="section2" id="Courses">
        <div class="innersection">
            <h1>Courses</h1>
            <div class="part leftside">
                <div class="box boxleft">
                    <h2>Full Stack Development</h2>
                    <h4>Web development is the work involved in developing a website for the Internet (World Wide Web)
                        or an intranet (a private network).Web development can range from developing a simple single
                        static page of plain text to complex web applications, electronic businesses, and social network
                        services. A more comprehensive list of tasks to which Web development commonly refers, may
                        include Web engineering, Web design, Web content development, client liaison,
                        client-side/server-side scripting, Web server and network security configuration, and e-commerce
                        development.</p><br>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(250)</span>
                        </div>
                        <div class="cost">$49.99</div>
                </div>
                <div>
                    <img src="assets/web.jpeg" class="centerphoto">
                </div>
            </div>
            <div class="part rightside">
                <div class="box boxright">
                    <h2>Machine Learning</h2>
                    <h4>Machine learning (ML) is a field of inquiry devoted to understanding and building methods that
                        'learn', that is, methods that leverage data to improve performance on some set of tasks.It is
                        seen as a part of artificial intelligence. Machine learning algorithms build a model based on
                        sample data, known as training data, in order to make predictions or decisions without being
                        explicitly programmed to do so. Machine learning algorithms are used in a wide variety of
                        applications, such as in medicine, email filtering, speech recognition, and computer vision,
                        where it is difficult or unfeasible to develop conventional algorithms to perform the needed
                        tasks.</p><br>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(174)</span>
                        </div>
                        <div class="cost">$59.99</div>
                </div>
                <div>
                    <img src="assets/ml.jpeg" class="centerphoto">
                </div>
            </div>
            <div class="part leftside">
                <div class="box boxleft">
                    <h2>Data Sructures & Algorithms</h2>
                    <h4>In computer science, a data structure is a data organization, management, and storage format
                        that is usually chosen for efficient access to data. More precisely, a data structure is a
                        collection of data values, the relationships among them, and the functions or operations that
                        can be applied to the data,i.e., it is an algebraic structure about data. In mathematics and
                        computer science, an algorithm is a finite sequence of rigorous instructions, typically used to
                        solve a class of specific problems or to perform a computation.Algorithms are used as
                        specifications for performing calculations and data processing.</p><br>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(440)</span>
                        </div>
                        <div class="cost">$69.99</div>
                </div>
                <div>
                    <img src="assets/dsa.png" class="centerphoto">
                </div>
            </div>
        </div>
    </section>

    <section id="client-section">
        <h1>Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="assets/logo1.png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="assets/logo2.png" alt="Our Client">
            </div>

            <div class="client-item">
                <img src="assets/logo3.png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="assets/logo4.png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="assets/fb.jpeg" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="assets/netflix.png" alt="Our Client">
            </div>
        </div>

    </section>

    {{>footer}}

    <script src="js/index.js"></script>
</body>

</html>