<!doctype html>
<html>

<head>
    {{>header}}
    <link rel="stylesheet" href="css/contact.css">
    <title>Register</title>
    <style>
        .personalcss{
            text-align: center;
            background-color: rgba(53, 53, 193, 0.495);
        }
    </style>
</head>

<body>
    {{!-- {{>navbar}} --}}

        <h1 class="personalcss">Hi {{fname}} {{lname}}</h1>
        <h2 class="personalcss">Welcome to the course of {{yourCourse}}</h2>

    {{!-- {{>footer}} --}}

    <script src="js/index.js"></script>
</body>

</html>