<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Educators</title>
    <link rel="stylesheet" href="css/teacher.css">
</head>

<body>

    {{>navbar}}

    <span class="sign"><a href="/sign_in">Login / Register</a></span>


    <!-- teacher section  -->
    <h1 class="heading"> Experienced Teachers </h1>

    <section class="teacher">

        <div class="box">
            <img src="assets/t1.jpg" alt="">
            <h3>Vivek Gupta</h3>
            <span>Software Engineer <b>@Google</b></span>
            <p>He has an undying passion for Competitive Programming and has qualified for ICPC World finals. He has
                received amazing feedbacks for his teaching skills.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="assets/t2.jpg" alt="">
            <h3>Shubham Patil</h3>
            <span>Software Engineer <b>@Microsoft</b></span>
            <p>He is a regular Competitive Programmer and has qualified for ICPC World Finals. He has previously
                interned with Google and currently works at Microsoft.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="assets/t3.jpg" alt="">
            <h3>Nidhi Aggarwal</h3>
            <span>Data Scientist <b>@Gramener.com</b></span>
            <p>She process, model, analyze, and draw conclusions from data to answer complex questions. Working as a
                data scientist can be intellectually challenging,</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="assets/t4.jpg" alt="">
            <h3>Emily Ridge</h3>
            <span>Full Stack developer <b>@Meta</b></span>
            <p>She is a professional developer who is responsible for the design and construction of websites.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="assets/t5.jpg" alt="">
            <h3>Anand S. Anand</h3>
            <span>Data Scientist <b>@Gramener.com</b></span>
            <p>He has advised and designed IT systems for organizations such as the Citigroup, Honda, IBM, Target, etc.
            </p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </section>

    {{>footer}}

    <script src="js/index.js"></script>
</body>

</html>