<nav class="navbar background h-nav-responsive">
    <div class="adjust">
        <ul class="nav v-class-responsive">
            <img src='assets/e-bharat.png' alt="logo" id="logo">
            <li><a href="/">Home</a></li>
            {{#if isMatch}}
                <li><a href="/personal">Personal</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
            {{!-- <li><a href="/personal">Personal</a></li> --}}
            <li><a href="/#Courses">Courses</a></li>
            <li><a href="/teacher">Teachers</a></li>
            <li><a href="/#client-section">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
            {{!-- <li><a href="/logout">Logout</a></li> --}}
        </ul>
    </div>
    <div class="sidebar v-class-responsive">
        <input type="search" id="search">
        <button class="btn">Search</button>
    </div>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>